.menu {
  padding: 1rem calc(50% - 50rem);
  background-color: rgb(23, 103, 207);

  &__wrapper {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
  }

  &__list {
    list-style: none;
    font-size: 2rem;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: .5rem;
  }
}

@media only screen and (max-width: 77.5em) {
  .menu {
      padding: 1rem 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .menu {
      padding: 1rem 3.5rem;
  }
}

@media only screen and (max-width: 50em) {
  .menu {
      padding: 1rem 3rem;
      
      &__text {
        display: none;
      }
  }
}