.cart {
  &__list {
    list-style: none;
    width: 57rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 30rem;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
  }

  &__image {
    width: 10rem;
    height: 10rem;

    img {
      width: 100%;
    }
  }

  &__title {
    width: 25rem;
    font-size: 1.5rem;
  }

  &__counter {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    width: 10rem;

    &_item {
      background-color: #ebe6e64d;
      border-radius: 1rem;
      padding: .3rem;
      cursor: pointer;
      user-select: none;

      &:active {
        background-color: #b6b2b24d
      }
    }
  }

  &__num {
    margin: 0 1rem;
  }

  &__delete {
    margin-left: 4rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  &__price {
    text-align: right;
    width: 10rem;
    font-size: 2rem;
  }
}